.container{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
  display: flex;
  min-height: 70px;
  max-height: 85px;
  justify-content: space-between;
  background-color: 	#006400;
  color: white;
  align-items: center;
  position: fixed;
  width: 98vw;
  
}

nav>ul{
  list-style: none;
}

nav>ul>li{
  display: inline-block;
  padding: 5px;
  text-align: center;
}

nav>ul>li>a{
   text-decoration: none;
   font-size: larger;
   font-weight: bold;
   color: white;
}

#home {
  background-image: url(./images/taylor-simpson-_aOMsnxAL9A-unsplash\ \(1\).jpg);
  text-align: left;
  font-weight: bold;
  font-size: large;
  height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  background-size:cover ;
}

#destination{
    background-color: #6B8E23;
    display: flex;
    margin-top: 10px;
}

#destination>div {
    margin: 20px;
    padding: 5px;
    text-align: justify;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    align-items: center;
}

  h3 {
    font-size: 30px;
    text-decoration: underline;
    font-weight: bolder;
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
#menuIcon{
  display:none;       
 }
#contacts {
  margin-top: 10px;
  background-color:	#006400;
  display: flex;
  justify-content: space-around;
  color: white;
}

@media only screen 
  and (min-device-width: 70px) 
  and (max-device-width: 360px) 
  and (-webkit-min-device-pixel-ratio: 1) {


      #contacts {
        display: flex;
        flex-direction:column;
        margin: 5px;
        padding:1em;
        align-items: center;
      }
      #destination {
        display: flex;
        flex-direction: column;
      }
    
      #destination>div{
        margin: 10px;
        
      }

      h3{
        font-size: 20px;
      }
      #topHeader{
        font-size: 5vw;
        text-align: center;
        margin:auto;
        white-space: nowrap
      }
      #menuIcon{
        display:inline-block;       
       }
         #navLinks{
              display:none;  
            }
        
}
@media only screen 
  and (min-device-width: 361px) 
  and (max-device-width: 720px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    li{
      font-size: 0.5rem;
      text-align:right ;
      display: inline-block;
      flex-wrap:nowrap ;
    }
    #topHeader{
      font-size: 4vw;
      text-align: center;
      margin:auto;
      white-space: nowrap
    }
  }

